# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/Release/KlimaStationSHTC3.eep

bin/Release/KlimaStationSHTC3.elf

bin/Release/KlimaStationSHTC3.hex

bin/Release/KlimaStationSHTC3.lock

bin/Release/KlimaStationSHTC3.lss

bin/Release/KlimaStationSHTC3.map

bin/Release/KlimaStationSHTC3.sig

-ffunction-sections

*.layout

sig.txt

*.depend
